@font-face {
    font-family: bellotaRegular;
    src: url(../font/Bellota-Regular.otf);
    font-display: swap;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    font-family: bellotaRegular;
    background-color: #0d818799;
    color: #303030;
}

.footer {
    background-color: #0d8187;
    color: #303030;
}

.button {
    background-color: #0d8187;
    color: white;
}

.hide {
    display: none;
}

.screen-reader-only {
    position:absolute;
    top:-10000px;
    width:1px;
    height:1px;
    overflow:hidden;
}

.input::placeholder, .textarea::placeholder {
    color: #30303099;
}

.logo {
    height: 200px;
    width: auto;
}